html{
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background: black;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
    padding: 0;
    list-style: none;
    margin: 0;
    padding-bottom: 1.6rem;
}

button{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%
}
ul, li{
    padding: 0;
    list-style: none;
}

.handleDisplayToggle{
    display: block;
}