h1, h2 {
    font-weight: 400;
}

a{
    font-size: clamp(.7rem, 3vw + 1rem, .9rem);
}

.film-details__title{
    font-size: clamp(1.3rem, .95vw + 1rem , 2rem);
    letter-spacing: 1px;
}

.cinema-finder .section-title{
    font-size: 1rem;
}

.scheduel-heading{
    font-size: 1rem;
}